{% extends "base.html" %}
{% block body_block %}
<div class="container">
    <h3>Book List</h3>
    <div class="toolbar">
        <form id="form-btn" action="/books/" method="POST">
            {% csrf_token %}
            <button id="view" class="btn btn-info" disabled onclick="view()">View</button>
            <button id="remove" class="btn btn-danger" disabled onclick="remove()">Delete</button>
            <input type="hidden" id="selectedRows" name="selectedRows">
        </form>
    </div>
    <table id="table" class="table table-striped">
        <thead>
            <tr>
                <th scope="col" data-checkbox="true">#</th>
                <th scope="col">Title</th>
                <th scope="col">Cover</th>
                <th scope="col">Author</th>
                <th scope="col">Genre</th>
                <th scope="col">Publication</th>
                <th scope="col">Year</th>
            </tr>
        </thead>
        <tbody>
            {% for book in book_list %}
            <tr id="{{book.pk}}">
                <th scope="row">
                    <input type="checkbox" class="largerCheckbox" id="{{book.pk}}" onchange="setSelection(this)">
                </th>
                <td>{{book.title}}</td>
                <td><img class="coverImgSmall" src="/media/{{book.book_cover}}"></td>
                <td>{{book.author}}</td>
                <td>{{book.genre}}</td>
                <td>{{book.publication}}</td>
                <td>{{book.year}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav aria-label="PageNavigation" class="page-nav">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item ">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{num}}<span
                        class="sr-only">(current)</span></a>
            </li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{num}}</a></li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>

</div>

<script>
    selections = []
    function view() {
        console.log("View Id " + selections[0]);
        window.location = '/view/book/' + selections[0];
    }
    function remove() {
        var form = document.getElementById("form-btn");
    }
    function setSelection(temp) {

        if (temp.checked == true) {
            selections.push(temp.id)
        }
        else {
            selections.splice(selections.indexOf(temp.id), 1)
        }
        if (selections.length > 0) {
            $("#remove").prop('disabled', false)

        } else {
            $("#remove").prop('disabled', true)
        }
        if (selections.length == 1) {
            $("#view").prop('disabled', false)
        } else {
            $("#view").prop('disabled', true)
        }
        console.log(selections);
        document.getElementById('selectedRows').value = selections
    }
</script>
{% endblock %}