{% extends "base.html" %}
{% block body_block %}
<div class="container">
    <h3>Loan List</h3>
    <table id="table" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Cover</th>
                <th scope="col">Author</th>
                <th scope="col">Genre</th>
                <th scope="col">Publication</th>
                <th scope="col">Year</th>
            </tr>
        </thead>
        <tbody>
            {% for book in book_list %}
            <tr id="{{book.pk}}">
                <td><a href="/view/book/{{book.pk}}">{{book.title}}</a></td>
                <td><img class="coverImgSmall" src="/media/{{book.book_cover}}"></td>
                <td>{{book.author}}</td>
                <td>{{book.genre}}</td>
                <td>{{book.publication}}</td>
                <td>{{book.year}}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No Books Found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}