{% extends "base.html" %}
{% load bootstrap4 %}
{% block body_block %}

<div class="container">
    <h3>Recommended Book List</h3>
    <div class="toolbar">

        <form id="form-btn" action="/recommended_books/add/" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}

            <button id="view" class="btn btn-info" onclick="add()">Add</button>
        </form>
    </div>
    <table id="table" class="table table-striped">
        <thead>
            <tr>
                <th scope="col" data-checkbox="true">#</th>
                <th scope="col">Index</th>
                <th scope="col">Title</th>
                <th scope="col">Cover</th>
                <th scope="col">Author</th>
                <th scope="col">Genre</th>
                <th scope="col">Publication</th>
                <th scope="col">Year</th>
            </tr>
        </thead>
        <tbody>
            {% for recommendedbook in recommendedbook_list %}
            <tr id="{{recommendedbook.pk}}">
                <th scope="row">
                    <input type="checkbox" class="largerCheckbox" id="{{recommendedbook.pk}}"
                        onchange="setSelection(this)">
                </th>
                <td>{{recommendedbook.book_index}}</td>
                <td>{{recommendedbook.book.title}}</td>
                <td><img class="coverImgSmall" src="/media/{{recommendedbook.book.book_cover}}"></td>
                <td>{{recommendedbook.book.author}}</td>
                <td>{{recommendedbook.book.genre}}</td>
                <td>{{recommendedbook.book.publication}}</td>
                <td>{{recommendedbook.book.year}}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8">Recommendation List is Empty</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}