body {
  background-color: red;
}
.mynav {
  background-color: #e3f2fd;
}

.coverImgSmall{
  height: 50px;
  width: 50px;
}


body {
  margin-top:30px;
}

.upload-form{
  margin-top:30px;
}

.upload-card{
  padding: 40px 20px 20px;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}
.page-nav{
  margin-top:10px;
}
.toolbar{
  margin-bottom: 10px;
}
.largerCheckbox{
  width: 20px; 
  height: 20px;
}